<header>
    <div class="header-left">
        <span style="margin-right: 10px">
            <i class="bi bi-boxes"></i>
        </span>
        <span>
            Avanti Inventory Management
        </span>
    </div>

    <div class="header-right">
        <div>
            <span>
                <i class="bi bi-laptop"></i>
            </span>
            <span>
                Conectado
            </span>
        </div>
        <div>
            <span>
                <i class="bi bi-box-arrow-left"></i>
            </span>
            <a href="{{ url('/admin/sair') }}"> 
                Sair
            </a> 
        </div>
    </div>
</header>